In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("covid_data.csv")
df.head()

         Date Country  Confirmed  Deaths  Recovered
0  2020-03-01   Italy       1694      34         83
1  2020-03-01     USA         62       0          6
2  2020-03-01   China      80026    2912      44518
3  2020-03-02   Italy       2036      52        149
4  2020-03-02     USA         86       2          6

In [5]:
# get basic info about the dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       9 non-null      object
 1   Country    9 non-null      object
 2   Confirmed  9 non-null      int64
 3   Deaths     9 non-null      int64
 4   Recovered  9 non-null      int64
dtypes: int64(3), object(2)
memory usage: 492.0+ bytes

In [6]:
# get statistical summary (only numeric colums)
df.describe()

          Confirmed      Deaths     Recovered
count      9.000000     9.00000      9.000000
mean   27437.000000  1001.00000  15849.444444
std    39543.983531  1458.57319  23680.499647
min       62.000000     0.00000      6.000000
25%      106.000000     6.00000      8.000000
50%     2036.000000    52.00000    149.000000
75%    80026.000000  2912.00000  44518.000000
max    80270.000000  2981.00000  49856.000000

In [7]:
# check for null values in each column
df.isnull().sum()

Date         0
Country      0
Confirmed    0
Deaths       0
Recovered    0
dtype: int64

In [8]:
# top 10 countries with highest confirmed cases 
df.groupby("Country")["Confirmed"].sum().sort_values(ascending=False).head(10)

Country
China    240447
Italy      6232
USA         254
Name: Confirmed, dtype: int64

In [9]:
# Top 10 countries with highest death counts
df.groupby("Country")["Deaths"].sum().sort_values(ascending=False).head(10)

Country
China    8836
Italy     165
USA         8
Name: Deaths, dtype: int64

In [10]:
# Total recovered cases worldwide
df["Recovered"].sum()

np.int64(142645)

In [11]:
# Countries with highest recovery rate (if 'Recovered' and 'Confirmed' available)
df["Recovery Rate"] = (df["Recovered"] / df["Confirmed"]) * 100
df[["Country", "Recovery Rate"]].sort_values(by="Recovery Rate", ascending=False).head(10)

  Country  Recovery Rate
8   China      62.110377
5   China      59.566319
2   China      55.629420
6   Italy      11.031175
1     USA       9.677419
7     USA       7.547170
3   Italy       7.318271
4     USA       6.976744
0   Italy       4.899646